<!DOCTYPE html>
<html>
<head>
  <title>Rory's Portfolio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body, h1 {
      font-family: "Raleway", Arial, sans-serif
    }

    h1 {
      letter-spacing: 6px
    }

    .w3-row-padding img {
      margin-bottom: 12px
    }
  </style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-panel w3-center w3-opacity">
    <div class="w3-black">
      <h1 class="w3-xlarge">RIORDAN BROWN</h1>
      <h1>Software Developer</h1>
    </div>


  </header>
  <div class="w3-container" id="us">
    <div class="w3-content w3-center">
      <h1 class="w3-center w3-text-grey"><b>My Work</b></h1>
      <h5 class="w3-center w3-text-grey"><b>Legit Games - E-commerce Website</b></h5>
      <img class="w3-round w3-center" src="assets/legitgames.PNG" style="width:75%;margin:0px 0">
      <p>A demo retro game website designed to verify and sell old retro games and accessories. Made in Wordpress with modifications written in PHP. PayPal and Social Media integrated.
      </p>
      <p class="w3-center"><a href="https://legitgames.shop/" target="_blank" class="w3-button w3-black w3-round w3-padding-large w3-large">legitgames.shop</a></p>
      <br>
      <h5 class="w3-center w3-text-grey"><b>Operating System Simulation</b></h5>
      <img class="w3-round" src="assets/computersimulation.png" style="width:60%;margin:0px 0">
      <p>A simulation of the processes of the operating system when it is going through calling the Program Counter, Instruction Register, Accumulator, and Special Register in order to pull locations from memory with their relevant data and manipulated into and from virtual memory.
      </p>
      <p class="w3-center"><a href="https://github.com/Brown-Rory/Computer-Simulation" target="_blank" class="w3-button w3-black w3-round w3-padding-large w3-large">GitHub Repository</a></p>
      <br>
      <h5 class="w3-center w3-text-grey"><b>This Website</b></h5>
      <p>
        Made using the Angular framework and hosted on Firebase. Utilized W3 scalable style sheets for all screen sizes.
      <p class="w3-center"><a href="https://github.com/Brown-Rory/Work-Portfolio" target="_blank" class="w3-button w3-black w3-round w3-padding-large w3-large">GitHub Repository</a></p>

    </div>
  </div>


</div>


<!-- Footer -->
<footer class="w3-container w3-light-grey w3-center w3-large">
  <p class="w3-center"><a href="https://drive.google.com/file/d/1-PnilZr2qQZftt-XtDzrg7wQv1con-fQ/view?usp=sharing" target="_blank"
                          class="w3-button w3-black w3-round w3-padding-large w3-large">My Resume</a></p>
  <p class="w3-center"><a href="https://www.linkedin.com/in/riordan-brown-7aa75a225/" target="_blank"
                          class="fa fa-linkedin w3-button w3-black w3-round w3-padding-large w3-large"> LinkedIn</a></p>
  <p class="w3-center"><a href="https://github.com/Brown-Rory" target="_blank"
                          class="fa fa-github w3-button w3-black w3-round w3-padding-large w3-large"> GitHub</a></p>
</footer>

</body>
</html>
